/* Global Styles */

body {
    font-family: 'Bangers', sans-serif;
    height: 100vh;
}

    /* Default background */
.default-bg {
    background: linear-gradient(to bottom, #000000 0%, #000000 21%, #00dde2 100%);
}

/* Modal */

    /* Modal content is essentially the background plate, use of border-radius to create efficient UI */
.modal-content {
    background-color: #000000;
    margin: 150px auto 0;
    border: 1px solid #44ff78;
    border-radius: 0.8rem;
}

    /* Removed border styles from header & body of modal in order for modal-content border style to create seamless body affect */
.modal-header, .modal-body {
    background-color: #000000;
    border-radius: 0.8rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

    /* Modal title and close button */
.modal-title {
    color: #44ff78;
    border-bottom: 1px solid #44ff78;
}

.close {
    color: #00dde2;
    text-shadow: 0 2px 0 #ffffff;
}

    /* Modal header */
.fa-keyboard {
    padding: 0 5px;
}

    /* Modal user instructions */
.instructions-header {
    font-size: 1.2rem;
    color: #44ff78;
    text-decoration: underline;
    margin: 5px auto;
}

.instructions-list {
    padding: 0;
}

.instructions-list-item {
    font-size: 1rem;
    color: #00dde2;
    list-style: none;
    margin: 0 auto;
    padding: 5px 0;
}

.dropdown-selection {
    text-align: center;
}

.category-dropdown {
    color: #44ff78;
    background-color: #000000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #00dde2;
    border-radius: 0;
}

    /* Start button */
.start-btn {
    justify-content: center;
}

.btn-success {
    background-color: #44ff78;
    color: #000000;
}

/* Header */

.bg-custom {
    background-color: #000000;
}

.navbar-brand img {
    width: 75px;
    height: 75px;
    padding: 5px;
}

.navbar ul li a {
    font-size: 1.2rem;
}

.active a {
    color: #00dde2 !important;
}

.navbar ul li a:hover{
    color: #00dde2 !important;
}

.fa-cogs {
    color: #00dde2;
    padding: 0 5px;
}

/* Game board */

.game {
    position: relative;
    height: 100%;
    width: 100%;
}

    /* Game board centered using absolute and transform translate properties to manipulate it
    out of the natural DOM position */
.game-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    padding: 20px;
    border: 1px solid #44ff78;
    border-radius: 0.8rem;
}

    /* Common style theme for multiple visual text elements */
.theme-text, .diff-text, .shown-word-label, .time, .score {
    font-size: 1.5rem;
    color: #00dde2;
}

    /* Highlighter */
.theme-span, .diff-span, .time-span, .score-span {
    color: #44ff78;
}

    /* Padding bottom used to create additional spacing between word shown and input field for user */
.shown-word-group {
    padding-bottom: 20px;
}

.shown-word {
    font-size: 2.2rem;
    text-decoration: underline;
    color: #44ff78;
}
    /* Form control centered via margin: 0 auto and placeholder and input text centered */
.form-control {
    width: 65%;
    text-align: center;
    margin: 0 auto;
}

.tool-tip {
    font-size: 1.1rem;
    color: #7f909a;
    font-style: italic;
    letter-spacing: 0.15rem;
}

/* Game over modal */

    /* Common style smaller Text size on Game over modal */
.thank-you, .bug-reports {
    font-size: 1.3rem;
    color: #00dde2;
}

    /* Highlighter style to draw emphasis to important points */
.gameover-score, .replay {
    color: #44ff78;
}

.replay-btn {
    justify-content: center;
    margin-bottom: 20px;
}

    /* Social links styles */
.bug-reports {
    margin-bottom: 0;
}

.social-links {
    text-align: center;
    height: 40px;
}

.social-links li a i {
    font-size: 1.6rem;
    margin: 10px;
    color: #00dde2;
    transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    -webkit-transition: all 0.50s ease-in-out;
    -o-transition: all 0.50s ease-in-out;
}

.social-links li a i:hover {
    color: #44ff78;
    transform: rotate(360deg);
}