/* Global Styles */

body {
    font-family: 'Bangers', sans-serif;
    height: 100vh;
}

    /* Default background while selection is blank */
.default-bg {
    background: linear-gradient(to bottom, #000000 0%, #000000 21%, #00dde2 100%);
}

    /* Background classes based on selection dropdown */
.pokemon-bg {
    background: url("../img/pokemon-bg.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
}

.comicbook-bg {
    background: url("../img/comicbook-bg.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
}

.cars-bg {
    background: url("../img/cars-bg.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
}

.nature-bg {
    background: url("../img/nature-bg.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
}

.city-bg {
    background: url("../img/city.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
}

/* Modal */

    /* Modal content is essentially the background plate, use of border-radius to create efficient UI */
.modal-content {
    background-color: #000000;
    margin: 150px auto 0;
    border: 1px solid #44ff78;
    border-radius: 0.8rem;
}

    /* Removed border styles from header & body of modal in order for modal-content border style to create seemless body affect */
.modal-header, .modal-body {
    background-color: #000000;
    border-radius: 0.8rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

    /* Modal title and close button */
.modal-title {
    color: #44ff78;
    border-bottom: 1px solid #44ff78;
}

.close {
    color: #00dde2;
    text-shadow: 0 2px 0 #ffffff;
}

    /* Modal header */
.fa-keyboard {
    padding: 0 5px;
}

    /* Modal user instructions */
.instructions-header {
    font-size: 1.2rem;
    color: #44ff78;
    text-decoration: underline;
    margin: 5px auto;
}

.instructions-list {
    padding: 0;
}

.instructions-list-item {
    font-size: 1rem;
    color: #00dde2;
    list-style: none;
    margin: 0 auto;
    padding: 5px 0;
}

.dropdown-selection {
    text-align: center;
}

.category-dropdown {
    color: #44ff78;
    background-color: #000000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #00dde2;
    border-radius: 0;
}

    /* Start button */
.start-btn {
    justify-content: center;
}

.btn-success {
    background-color: #44ff78;
    color: #000000;
}

/* Header */

.bg-custom {
    background-color: #000000;
}

.navbar-brand img {
    width: 75px;
    height: 75px;
    padding: 5px;
}

.navbar ul li a {
    font-size: 1.2rem;
}

.active a {
    color: #00dde2 !important;
}

.navbar ul li a:hover{
    color: #00dde2 !important;
}

.fa-gamepad, .fa-cogs {
    color: #00dde2;
    padding: 0 5px;
}

/* Game board */

.game {
    position: relative;
    height: 100%;
    width: 100%
}

.game-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}